/* breakpoints */
/* breakpoints */
/* 264px */
/* 516px */
/* 768px */
/* 1020px */
/* 1272px */
/* 1524px */
/*
@media only screen and (min-width: @bp1){}
@media only screen and (min-width: @bp2){}
@media only screen and (min-width: @bp3){}
@media only screen and (min-width: @bp4){}
@media only screen and (min-width: @bp5){}
@media only screen and (min-width: @bp6){}
*/
@charset "UTF-8";
/* CSS Document */
/*

REALLY IMPORTANT
FIXED POSITIONING OF SOME OBJECTS WILL CAUSE Z_INDEX ISSUES IN ANDROID,
MEANING Z_INDEX WILL NOT BE RESPECTED ON ABSOLUTELY POSITIONED OBJECT.
*/
body {
  font-size: 0.813em;
  line-height: auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-transform: none;
  color: #696969;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
@media all and (max-width: 40.5em) {
  body {
    /*		font-size: @fontsize_mobile;*/
  
  }
}
body.lighter {
  background-color: rgba(0, 0, 0, 0.2);
}
body.hide_overage {
  overflow: hidden;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
a {
  cursor: pointer;
  position: absolute;
  height: 1.8em;
  padding: .35em 1.5em;
  background-color: #ffffff;
  text-decoration: none;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  font-size: 1.063em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
a:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity = 70);
  /*		.txtshadow(0px 0px 0px);*/

}
.breaker {
  clear: both;
  float: none;
  line-height: 0px;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  height: 0px;
  visibility: hidden;
  border: 0px solid red;
}
.portfolio_header {
  background-position: left top;
  background-repeat: no-repeat;
  /*.back("full/cityscape_back.jpg",left,top);*/

  background-repeat: repeat-x;
  background-size: auto 88%;
  margin: 0em auto 1em auto;
  width: 24em;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 12.5em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.portfolio_header.blurred {
  opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
}
@media only screen and (min-width: 30em) {
  .portfolio_header {
    /*.bdr(1px,pink);*/
  
    width: 36em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (min-width: 46em) {
  .portfolio_header {
    /*.bdr(1px,yellow);*/
  
    width: 54em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (min-width: 61em) {
  .portfolio_header {
    /*.bdr(1px,gray);*/
  
    width: 72em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (min-width: 74em) {
  .portfolio_header {
    /*.bdr(1px,blue);*/
  
    width: 90em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (min-width: 91em) {
  .portfolio_header {
    /*.bdr(1px,green);*/
  
    width: 108em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.portfolio_header .dude {
  position: relative;
  width: 18em;
  height: 12.5em;
  background-size: auto 100%;
  margin-left: 2em;
  background-position: left 1em;
  background-repeat: no-repeat;
  /*.back("full/dude_back.png",left,1em);*/

  z-index: 200;
}
.portfolio_header .dude span {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 2.25em;
  height: 1.5em;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  left: 77%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -0.8em;
  font-size: 4.813em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
}
.portfolio_header.stopani .sprite {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  -webkit-transition: none 0s !important;
  -moz-transition: none 0s !important;
  -o-transition: none 0s !important;
  transition: none 0s !important;
}
.butn_cv_open,
.butn_cv_close,
.butn_cv_pdf {
  background-color: #ffffff;
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 2em;
  height: 1.75em;
  top: 0%;
  left: 0%;
  z-index: 100;
  /*margin-top: -(@h/2);*/

  left: 100%;
  top: .45em;
  font-size: 1.063em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-left: -2.75em;
  padding-top: 0.25em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.butn_cv_open:hover,
.butn_cv_close:hover,
.butn_cv_pdf:hover {
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
.butn_cv_open.blurred,
.butn_cv_close.blurred,
.butn_cv_pdf.blurred {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}
.projects_navigation {
  width: 24em;
  position: relative;
  width: 100%;
  height: 2.3em;
  margin: 1em auto 0em auto;
  z-index: 9000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.projects_navigation.blurred {
  opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
}
@media only screen and (max-width: 30em) {
  .projects_navigation.blurred {
    display: none;
  }
}
.projects_navigation .butn_cv_open {
  z-index: 199;
  margin-top: -12.5em;
}
@media only screen and (max-width: 30em) {
  .projects_navigation .butn_cv_open {
    margin-top: 0em;
    margin-left: 0em;
    display: block !important;
    position: relative !important;
    float: none !important;
    left: auto !important;
    top: auto !important;
    border: none;
    margin-top: 0em;
    width: 100%;
    height: 1.5em;
    font-size: 1.213em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
  }
  .projects_navigation .butn_cv_open:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    height: 1.5em;
  }
}
.projects_navigation .butn {
  position: relative !important;
  background-color: rgba(0, 0, 0, 0.2);
  width: auto;
  height: 1.38em;
  margin-right: .5em;
  float: left;
  font-size: 0.9129999999999999em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 0.12em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.projects_navigation .butn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  height: 2em;
}
.projects_navigation .butn.menu {
  display: none !important;
}
@media only screen and (max-width: 30em) {
  .projects_navigation .butn.menu {
    display: block !important;
  }
}
@media only screen and (max-width: 30em) {
  .projects_navigation .butn {
    width: 100%;
    height: 1.5em;
    background-color: #ffffff;
    display: block;
    float: none !important;
    left: auto !important;
    top: auto !important;
    font-size: 1.213em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    padding: .25em 0em .25em 0em;
    margin-left: 0em;
    margin-top: 0em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  .projects_navigation .butn:hover {
    color: rgba(0, 0, 0, 0.6);
    height: 1.5em;
  }
  .projects_navigation .butn.blurred {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
  }
}
@media only screen and (max-width: 30em) {
  .projects_navigation {
    width: 17em;
    position: absolute;
    left: 50%;
    top: 1em;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    margin: 0em auto 0em -8.5em;
    height: auto;
    overflow: visible;
    -webkit-transform: translatez(3px) rotatex(0deg);
    -moz-transform: translatez(3px) rotatex(0deg);
    -ms-transform: translatez(3px) rotatex(0deg);
    -o-transform: translatez(3px) rotatex(0deg);
    transform: translatez(3px) rotatex(0deg);
  }
  .projects_navigation .butn.menu {
    display: none !important;
  }
  .projects_navigation .butn.menu span {
    display: none !important;
  }
  .projects_navigation.hidden {
    width: 2.1em;
    height: 2.5em;
    background-color: white !important;
    left: 99% !important;
    margin-left: -3em;
    /*			.bdr;
  */
  
  }
  .projects_navigation.hidden .butn,
  .projects_navigation.hidden .butn_cv_open {
    display: none !important;
  }
  .projects_navigation.hidden .butn.menu,
  .projects_navigation.hidden .butn_cv_open.menu {
    display: block !important;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    width: 1.75em;
    height: 1.5em;
    background-color: transparent !important;
    margin-top: .25em;
  }
  .projects_navigation.hidden .butn.menu span,
  .projects_navigation.hidden .butn_cv_open.menu span {
    display: block !important;
    position: absolute;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 1.6em;
    height: 1.6em;
    top: 0%;
    left: 0%;
    z-index: auto;
    /*margin-top: -(@h/2);*/
  
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 1em !important;
    line-height: 1.7em;
    letter-spacing: .1em;
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .projects_navigation {
    width: 36em;
    height: 4.5em;
  }
  .projects_navigation .butn {
    margin-top: 0em !important;
    margin-bottom: .5em !important;
    float: left !important;
  }
  .projects_navigation .butn:hover {
    color: rgba(0, 0, 0, 0.6);
    height: 1.4em !important;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
  .projects_navigation.rotated {
    margin-left: -18em !important;
  }
  .projects_navigation.hidden.rotated {
    margin-left: -3em !important;
  }
}
@media only screen and (min-width: 46em) and (max-width: 61em) {
  .projects_navigation {
    width: 54em;
    height: 4.3em;
  }
  .projects_navigation .butn {
    margin-top: 0em !important;
    margin-bottom: .5em !important;
    float: left !important;
  }
  .projects_navigation .butn:hover {
    color: rgba(0, 0, 0, 0.6);
    height: 1.4em !important;
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
}
@media only screen and (min-width: 61em) {
  .projects_navigation {
    width: 72em;
  }
}
@media only screen and (min-width: 74em) {
  .projects_navigation {
    width: 90em;
  }
}
@media only screen and (min-width: 91em) {
  .projects_navigation {
    width: 108em;
  }
}
.butn_cv_pdf {
  margin-left: -5.25em;
}
.cv_area {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 54em;
  height: 45em;
  top: 0%;
  left: 0%;
  z-index: 9500;
  /*margin-top: -(@h/2);*/

  left: 50%;
  top: 10px;
  margin-left: -28.5em !important;
  -moz-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
  padding: 0em 1.5em 1.5em 1.5em;
  margin-bottom: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff;
  -webkit-transform: translatez(4px) rotatex(0deg);
  -moz-transform: translatez(4px) rotatex(0deg);
  -ms-transform: translatez(4px) rotatex(0deg);
  -o-transform: translatez(4px) rotatex(0deg);
  transform: translatez(4px) rotatex(0deg);
  /*margin-top: -(@pdhwidth/2) !important;*/

}
.cv_area h1 {
  font-size: 1.813em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.cv_area h1 b {
  display: block;
  font-size: 0.813em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: .5em !important;
  letter-spacing: .1em;
}
.cv_area h1 b a {
  display: inline;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  padding: 0em !important;
  font-size: 1.063em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 30em) {
  .cv_area h1 {
    font-size: 1.563em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
  }
  .cv_area h1 a {
    font-size: 1.013em !important;
  }
}
.cv_area .cv_text {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 54em;
  height: 36.5em;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  padding-bottom: 2em;
  left: 1.5em;
  top: 5.625em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.cv_area .cv_text .cv_column:last-child {
  width: auto;
}
@media only screen and (max-width: 30em) {
  .cv_area {
    width: 20em;
    height: 23em;
    margin-left: -11.5em !important;
  }
  .cv_area .cv_text {
    top: 4.625em;
    width: 20.75em;
    height: 17.174999999999997em;
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .cv_area {
    width: 32.4em;
    height: 45em;
    margin-left: -17.7em !important;
  }
  .cv_area .cv_text {
    width: 32.4em;
    height: 36.875em;
  }
}
.cv_area.hidden {
  top: -800px;
}
.cv_area .cv_column {
  float: left;
  width: 48%;
  margin-right: .5em;
  line-height: 1.5em;
}
.cv_area .cv_column .cv_title {
  font-size: 1.313em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  margin-top: 1.5em;
  margin-bottom: .25em;
}
.cv_area .cv_column .cv_title:first-child {
  margin-top: .5em;
}
.cv_area .cv_column .cv_subtitle {
  font-size: 1.063em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  margin-top: .75em;
}
@media only screen and (max-width: 30em) {
  .cv_area .cv_column .cv_subtitle {
    font-size: 0.9129999999999999em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: .1em;
    margin-top: .75em;
    margin-bottom: .25em;
  }
}
.cv_area .cv_column b {
  font-size: 0.813em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
@media only screen and (max-width: 30em) {
  .cv_area .cv_column {
    float: none;
    width: auto;
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .cv_area .cv_column {
    float: none;
    width: auto;
  }
}
.portfolio_area {
  width: 24em;
  margin: 1em auto;
  position: relative;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  /*	@media only screen and (max-width: @min-width){
		width: @columns-min-width;
	}

	@bp2: @columns-width*2;
	@media only screen and (min-width: @bp2){
		width: @bp2;
	}
	
	@bp3: @columns-width*3;
	@media only screen and (min-width: @bp3){
		width: @bp3;
	}
*/

  /*	@media only screen and (max-width: @min-width) and (min-width: @bp1){
		.bdr(1px,black);
		width: @columns-min-width;
	}*/

}
.portfolio_area.blurred {
  opacity: 0.25;
  -moz-opacity: 0.25;
  filter: alpha(opacity = 25);
}
@media only screen and (min-width: 30em) {
  .portfolio_area {
    /*.bdr(1px,pink);*/
  
    width: 36em;
  }
}
@media only screen and (min-width: 46em) {
  .portfolio_area {
    /*.bdr(1px,yellow);*/
  
    width: 54em;
  }
}
@media only screen and (min-width: 61em) {
  .portfolio_area {
    /*.bdr(1px,gray);*/
  
    width: 72em;
  }
}
@media only screen and (min-width: 74em) {
  .portfolio_area {
    /*.bdr(1px,blue);*/
  
    width: 90em;
  }
}
@media only screen and (min-width: 91em) {
  .portfolio_area {
    /*.bdr(1px,green);*/
  
    width: 108em;
  }
}
.ie9-and-lower .portfolio_area {
  width: 54em;
}
.project-holder {
  position: relative;
  width: 17em;
  height: 17em;
  margin: 0.5em;
  float: left;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
}
@media only screen and (max-width: 29.5em) {
  .project-holder {
    width: 23em !important;
    height: 9em;
  }
}
.project-holder.flipped .project-item-front {
  -webkit-transform: translatez(1px) rotatex(-180deg);
  -moz-transform: translatez(1px) rotatex(-180deg);
  -ms-transform: translatez(1px) rotatex(-180deg);
  -o-transform: translatez(1px) rotatex(-180deg);
  transform: translatez(1px) rotatex(-180deg);
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}
.project-holder.flipped .project-item-back {
  -webkit-transform: translatez(-1px) rotatex(0deg);
  -moz-transform: translatez(-1px) rotatex(0deg);
  -ms-transform: translatez(-1px) rotatex(0deg);
  -o-transform: translatez(-1px) rotatex(0deg);
  transform: translatez(-1px) rotatex(0deg);
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
}
#video_holder {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 5000;
  /*margin-top: -(@h/2);*/

  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translatez(4px) rotatex(0deg);
  -moz-transform: translatez(4px) rotatex(0deg);
  -ms-transform: translatez(4px) rotatex(0deg);
  -o-transform: translatez(4px) rotatex(0deg);
  transform: translatez(4px) rotatex(0deg);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
}
#video_holder.hidden {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}
#video_holder .video-close {
  display: block !important;
  width: 2.5em !important;
  left: 50%;
  top: 50%;
  padding: .25em 0em !important;
  z-index: 5000 !important;
}
#video_holder #subvideo {
  display: block !important;
  position: absolute;
  z-index: 0 !important;
  border: 1px solid rgba(255, 255, 255, 0.8);
  left: 50% !important;
  top: 50% !important;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.project-item-front,
.project-item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.project-item-front {
  /*.backcolor(red);*/

  z-index: 1;
  -webkit-transform: translatez(1px) rotatex(0deg);
  -moz-transform: translatez(1px) rotatex(0deg);
  -ms-transform: translatez(1px) rotatex(0deg);
  -o-transform: translatez(1px) rotatex(0deg);
  transform: translatez(1px) rotatex(0deg);
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.project-item-front .project-name {
  font-size: 0.813em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 80%;
  height: auto;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  left: 50% !important;
  top: 0.75em !important;
  margin-left: -40% !important;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding: .25em .25em;
  /*		.txtshadow(0em 0em .25em @percent_80_black);
*/
  background-color: rgba(255, 255, 255, 0.9);
}
.project-item-front .project-name.hidden {
  top: -3em !important;
}
.project-item-front .project-details-butn {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 5em;
  height: 2.7em;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  margin-left: -3.5em !important;
  margin-top: -3.5em !important;
  left: 50% !important;
  top: 50% !important;
  padding: 2.15em 1em 2.15em 1em;
  font-size: 1.813em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  line-height: 1.25em;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 4.85em;
  border-radius: 4.85em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
}
.project-item-front .project-details-butn.hidden {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}
.project-item-back {
  background-color: #000000;
  z-index: 3;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  -webkit-transform: translatez(-1px) rotatex(180deg);
  -moz-transform: translatez(-1px) rotatex(180deg);
  -ms-transform: translatez(-1px) rotatex(180deg);
  -o-transform: translatez(-1px) rotatex(180deg);
  transform: translatez(-1px) rotatex(180deg);
}
.project-item-back .project-details-close {
  width: 2.5em !important;
  left: 100% !important;
  top: 0em !important;
  padding: .25em 0em !important;
  margin-left: -2.5em;
  z-index: 200;
}
.project-detail-holder {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 54em;
  height: 45em;
  top: 0%;
  left: 0%;
  z-index: 9100;
  /*margin-top: -(@h/2);*/

  left: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: -27em !important;
  /*margin-top: -(@pdhwidth/2) !important;*/

  -webkit-transform: translatez(2px) rotatex(0deg);
  -moz-transform: translatez(2px) rotatex(0deg);
  -ms-transform: translatez(2px) rotatex(0deg);
  -o-transform: translatez(2px) rotatex(0deg);
  transform: translatez(2px) rotatex(0deg);
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*@media only screen and (min-width: @bp3){
		.bdr(1px,gray);
		width: @columns-width*4;
	}

	@media only screen and (min-width: @bp4){
		.bdr(1px,blue);
		width: @columns-width*5;
	}

	@media only screen and (min-width: @bp5){
		.bdr(1px,green);
		width: @columns-width*6;
	}
*/

}
@media only screen and (max-width: 30em) {
  .project-detail-holder {
    top: 2%;
    margin-top: 0em !important;
    width: 23em;
    height: 28.799999999999997em;
    margin-left: -11.5em !important;
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .project-detail-holder {
    top: 2%;
    margin-top: 0em !important;
    width: 36em;
    height: 45em;
    margin-left: -18em !important;
  }
}
.project-detail-holder .project-detail-area {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  /*margin-top: -(@h/2);*/

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  background-color: #ffffff;
  border-top: 1px solid white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translatez(2px) rotatex(0deg);
  -moz-transform: translatez(2px) rotatex(0deg);
  -ms-transform: translatez(2px) rotatex(0deg);
  -o-transform: translatez(2px) rotatex(0deg);
  transform: translatez(2px) rotatex(0deg);
  -moz-box-shadow: 0.5em 3em 1.5em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0.5em 3em 1.5em rgba(0, 0, 0, 0.5);
  box-shadow: 0.5em 3em 1.5em rgba(0, 0, 0, 0.5);
  border-bottom: 6px solid white;
  overflow: hidden;
}
.project-detail-holder .project-detail-area .project-detail-image {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 100%;
  height: 60%;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  background-size: 100%;
  background-color: #ffffff;
  background-position: center top;
  background-repeat: no-repeat;
  left: 0em;
  top: 0em;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
  /*.webkitAccelerator;*/

}
.project-detail-holder .project-detail-area .project-detail-image.playing {
  animation-name: slide_background;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  /* Safari and Chrome: */

  -webkit-animation-name: slide_background;
  -webkit-animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}
.project-detail-holder .project-detail-area .project-detail-image.centered {
  background-position: left center;
  background-color: #000000;
}
.project-detail-holder .project-detail-area .project-detail-image.slow_play {
  animation-name: slide_background;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  /* Safari and Chrome: */

  -webkit-animation-name: slide_background;
  -webkit-animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}
@media only screen and (max-width: 30em) {
  .project-detail-holder .project-detail-area .project-detail-image {
    background-size: 100%;
    position: absolute;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 47%;
    top: 0%;
    left: 0%;
    z-index: auto;
    /*margin-top: -(@h/2);*/
  
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .project-detail-holder .project-detail-area .project-detail-image {
    position: absolute;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 50%;
    top: 0%;
    left: 0%;
    z-index: auto;
    /*margin-top: -(@h/2);*/
  
  }
}
.project-detail-holder .project-detail-area .project-name {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 90%;
  height: 2.25em;
  top: 0%;
  left: 0%;
  z-index: 4000;
  /*margin-top: -(@h/2);*/

  font-size: 2.263em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  top: 43%;
  padding: 1% 5% 2% 5%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  text-shadow: 0em 0em 0.25em #000000;
}
.project-detail-holder .project-detail-area .project-name span {
  display: block;
  font-size: .55em;
  text-transform: none;
  color: white;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 30em) {
  .project-detail-holder .project-detail-area .project-name {
    font-size: 1.1629999999999998em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    top: 49% !important;
    background: none !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    text-shadow: none;
    padding: 1% 0% 2% 0%;
    margin-left: 5% !important;
    height: 3.75em !important;
    padding-top: .5em !important;
  }
  .project-detail-holder .project-detail-area .project-name span {
    font-size: .8em;
    line-height: 1.15em;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .project-detail-holder .project-detail-area .project-name {
    font-size: 1.6629999999999998em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    top: 51.5% !important;
    background-color: rgba(0, 0, 0, 0.1);
    background: none !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    text-shadow: none;
    padding: 1% 0% 2% 0%;
    margin-left: 5% !important;
  }
  .project-detail-holder .project-detail-area .project-name span {
    color: rgba(0, 0, 0, 0.6);
    font-size: .63em;
  }
}
.project-detail-holder .project-detail-area .project-link {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 8em;
  height: 1.5em;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  left: 100%;
  top: 82%;
  margin-left: -9.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  letter-spacing: .1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
@media only screen and (max-width: 30em) {
  .project-detail-holder .project-detail-area .project-link {
    top: 70% !important;
    padding-bottom: .25em;
  }
}
.project-detail-holder .project-detail-area .project-link.video {
  width: 4em !important;
  margin-left: -14em;
}
.project-detail-holder .project-detail-area .project-link.video.right_aligned {
  margin-left: -5em;
}
.project-detail-holder .project-detail-area .project-detail-description {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 90.2%;
  height: 40%;
  top: 0%;
  left: 0%;
  z-index: 10;
  /*margin-top: -(@h/2);*/

  top: 60%;
  padding: 1% 5% 0% 5%;
  font-size: 1.263em;
  line-height: auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  /*.backcolor(white);*/

  /*			.backgradient(white,@percent_20_black);
			border-top:1px solid @percent_60_black;*/

  background-size: 100%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.project-detail-holder .project-detail-area .project-detail-description b {
  display: block;
  padding-bottom: .25em;
  margin-bottom: .15em;
  font-size: 1.263em;
  line-height: auto;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 30em) {
  .project-detail-holder .project-detail-area .project-detail-description b {
    font-size: 1.063em;
    line-height: auto;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block !important;
    margin-right: .5em;
    margin-bottom: 0em !important;
    padding-bottom: 0em !important;
    border-bottom: 0px;
  }
}
@media only screen and (max-width: 30em) {
  .project-detail-holder .project-detail-area .project-detail-description {
    -moz-border-radius: 0em;
    border-radius: 0em;
    position: absolute;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 91%;
    height: 43%;
    top: 0%;
    left: 0%;
    z-index: 10;
    /*margin-top: -(@h/2);*/
  
    padding: 2% 5% 3% 5%;
    margin-left: 0em !important;
    font-size: 0.9129999999999999em;
    line-height: auto;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0em !important;
    margin-top: 0% !important;
    border-top: 0px !important;
    top: 67%;
    height: 35%;
  }
}
@media only screen and (max-width: 46em) and (min-width: 30em) {
  .project-detail-holder .project-detail-area .project-detail-description {
    height: 38%;
    top: 62% !important;
    padding-top: 0em !important;
    margin-top: 0% !important;
    border-top: 0px !important;
    font-size: 1.1em;
  }
}
.project-detail-holder .project-detail-area.view_image .project-detail-image {
  height: 100% !important;
}
.project-detail-holder .project-detail-area.view_image .project-name,
.project-detail-holder .project-detail-area.view_image .project-link,
.project-detail-holder .project-detail-area.view_image .project-detail-description {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}
.project-detail-holder .project-detail-area.hidden {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  -webkit-transform: translatez(1000px) rotatex(-180deg);
  -moz-transform: translatez(1000px) rotatex(-180deg);
  -ms-transform: translatez(1000px) rotatex(-180deg);
  -o-transform: translatez(1000px) rotatex(-180deg);
  transform: translatez(1000px) rotatex(-180deg);
}
.project-detail-holder .project-detail-area .project-role {
  margin: .65em  0em .65em 0em !important;
}
@media only screen and (max-width: 30em) {
  .project-detail-holder .project-detail-area .project-role {
    margin: .75em  0em .65em 0em !important;
  }
}
.project-detail-holder .project-detail-area .project-details-close {
  width: 2.5em !important;
  left: 100% !important;
  top: 0em !important;
  padding: .25em 0em !important;
  margin-left: -2.5em;
  z-index: 200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
}
.project-detail-holder .project-detail-area .project-details-show {
  width: 6em !important;
  left: 100% !important;
  top: 0em !important;
  padding: .25em 0em !important;
  margin-left: -8.75em;
  z-index: 201;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  /*@media only screen and (max-width: @bp1){
				display:none;
			}

			@media only screen and (max-width: @bp2) and (min-width: @bp1){
				display:none;
			}*/

}
@keyframes slide_background {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
@-webkit-keyframes slide_background /* Safari and Chrome */ {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}
#spinnerback {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 10em;
  height: 10em;
  top: 0%;
  left: 0%;
  z-index: 20000;
  /*margin-top: -(@h/2);*/

  left: 50%;
  margin-left: -5em !important;
  margin-top: -5em !important;
  background-color: rgba(0, 0, 0, 0.9);
  -moz-border-radius: 5em;
  border-radius: 5em;
  -webkit-transform: translatez(10px) rotatex(0deg);
  -moz-transform: translatez(10px) rotatex(0deg);
  -ms-transform: translatez(10px) rotatex(0deg);
  -o-transform: translatez(10px) rotatex(0deg);
  transform: translatez(10px) rotatex(0deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
}
#spinnerback.hidden {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}
#spinner {
  position: absolute;
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 5.65em;
  height: 5.65em;
  top: 0%;
  left: 0%;
  z-index: auto;
  /*margin-top: -(@h/2);*/

  left: 50% !important;
  top: 50% !important;
  margin-left: -2.825em !important;
  margin-top: -2.85em !important;
}
.sprite {
  position: absolute;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
}
