<!doctype html>
<!--[if (IE 9) | (lt IE 9)]> <html class="ie9-and-lower"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
	<title>Anthony Baker</title>
	<meta charset="utf-8" />
	<meta id="view_port" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="/css/style.css">
	<link href="http://fonts.googleapis.com/css?family=Oswald%7CKarla:400,400italic,700,700italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Average" rel="stylesheet" type="text/css">
	<script src="/javascript/dld.js"></script>
</head>
<body ng-app="projectTriage" ng-controller="listProjects" scrollposition="" ng-class="{clipBody: clipBody}">	

	<div class="navigation" ng-class="{showing: showNav}" >
		<!-- <button ng-repeat="x in filteredItems = (projects | filter:{'type':(!!selectedType || undefined || '!illo')})" ng-click="setType($index)" ng-class="{selected: isActive($index)}">{{ x.name }}</button> -->

		<button ng-repeat="x in types" ng-click="setType(x,$index)" ng-class="{selected: isActive($index)}">{{ x }}</button>
	</div>

	<div class="project_description" ng-class="{showing: showDescription}" >
		<div class="description_holder" ng-class="{illo: !project.description}">
			<a class="info_holder_close" ng-click="hideProject($event)"></a>
			<a class="info_holder_expand" ng-click="expandInfo()"></a>
			
			<img ng-src={{projectImage}} ng-init="detailImageLoaded = false;" ng-class="{fullwidth: !project.description, loadingDetail: descriptionImageLoaded()}"/>
			<div class="info_holder" ng-class="{expanded: showAllInfo}" ng-if="project.description">
				<h1>{{project.name}}</h1>

				<p class="info description" ng-if="project.description"><span>{{project.description}}</span></p>
				<p class="info role" ng-if="project.role"><span>Role</span>{{project.role}}</p>
				<p class="info tech" ng-if="project.tech"><span>Technology</span>{{project.tech}}</p>
			</div>
		</div>
		<div class="breaker"></div>
	</div>

	<div class="container" autoresize="" ng-class="{showing: showNav}">
		<canvas id="hamburger" ng-click="navSlider($event)" ng-class="{showing: showNav}"></canvas>

		<div class="holder">
			<div id="portfolio_header">
				<div class="dude"><span>Hi!</span></div>
			</div>

			<div id="portfolio_area">
				
				<div class="project-holder" ng-init="imageLoading = true; imageLoaded = false;" ng-class="{selected: isActiveProject($index), loading: !imageLoaded}" id="{{x.id}}" check-object-position ng-style="backgroundStyle" ng-repeat="x in filteredItems = (projects | filter:getFilter())" ng-click="showDetails($index)" show-on-click>
					
					<div class="project_button">
						<a class="project-details-butn hidden" show-on-hover-parent>Project Details</a>
						<div class="project-name" hide-on-hover-parent>{{ x.name }}</div>
					</div>

				</div>

			</div>

		</div>
	</div>

</body>
</html>