<!doctype html>
<!--[if (IE 9) | (lt IE 9)]> <html class="ie9-and-lower"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
	<title>Anthony Baker</title>
	<meta charset="utf-8" />
	<meta id="view_port" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<style type="text/css">
	@@includecss
	</style>
	
	<!--[if (IE 9) | (lt IE 9)]> 
	<style type="text/css">
			#loader{
				width: 300px;
			}

			#granny{
				width: 300px;
				height: 165px;
				top: 85px;
			}

			#loader span{
				top: 60px;
			}
	</style>
	<![endif]-->
</head>

<body ng-app="projectTriage" ng-init="clipBody=false;" ng-controller="listProjects" scrollposition="" ng-class="{clipBody: clipBody}" class="clip_car">	

	<div id="loader" class="left"><h1 id="granny_says">Gassin' Up!<i>Sweety Pie</i></h1><span></span><div id="granny"></div></div>	

	<div class="navigation clearfix" id="navigation" ng-class="{showing: showNav}" >
		<!-- <button ng-repeat="x in filteredItems = (projects | filter:{'type':(!!selectedType || undefined || '!illo')})" ng-click="setType($index)" ng-class="{selected: isActive($index)}">{{ x.name }}</button> -->

		<a ng-href="#{{x}}" ng-repeat="x in types" ng-click="setType(x,$index)" ng-class="{selected: isActive($index)}"><span>{{ x }}</span></a>

	</div>

	<div class="container" id="container" autoresize="" ng-class="{showing: showNav}">
		<canvas id="hamburger" ng-click="navSlider($event)" ng-class="{showing: showNav}"></canvas>

		<div class="holder">
			<div id="portfolio_header">
				<div class="dude"><span>Hi!</span></div>
			</div>

			<div class="project_description clearfix" ng-class="{showing: showDescription}" >
				<div class="description_holder" ng-class="{illo: expandForIllo}">
					<div class="icon_holder close">
						<svg class="icon" ng-click="hideProject($event)">
							<path class="symbol" d="M 3 3 L 38 38 M 38 3 L 3 38"></path>
						</svg>
					</div>
					
					<div class="imageDisplay clearfix" ng-class="{fullwidth: !project.description, expanded: showAllInfo}" >
						<div class="icon_holder expand">
							<svg class="icon" ng-click="expandInfo()">
								<path class="symbol" d="M 3 3 L 20 19 L 38 3" ></path>
							</svg>
						</div>

						<img ng-src={{projectImage}} ng-init="detailImageLoaded = false;" ng-class="{loadingDetail: descriptionImageLoaded(), notext: !project.description}"/>

					</div>


					<div class="info_holder" ng-if="project.description">
						<h1>{{project.name}}</h1>
						<p class="info description" ng-if="project.description"><span>{{project.description}}</span></p>
						<p class="info role" ng-if="project.role"><span>Role</span>{{project.role}}</p>
						<p class="info tech" ng-if="project.tech"><span>Technology</span><span class="list" ng-bind-html="project.tech"></span></p>
						<a class="info urlbutton" ng-repeat="x in project.url" ng-href="{{x.link}}" target="new">{{x.text?x.text:"View Project"}}</a>

					</div>

					<div class="breaker"></div>
				</div>
				<div class="breaker"></div>
			</div>

			<div class="content_area" ng-class="{showContent: contentSection}">
				<div class="content-holder" id="{{contentSectioninfo.id}}">
						<h1 ng-if="contentSectioninfo.title" >{{contentSectioninfo.title}}</h1>
						<div class="content-body" id="content-body-holder" ng-bind-html="downloadedContent"></div>
				</div>
			</div>

			<div id="portfolio_area" ng-class="{hidden: projectsHidden}">

				
				<div class="project-holder" ng-init="imageLoading = true; imageLoaded = false;" ng-class="{loading: !imageLoaded}" id="{{x.id}}" check-object-position ng-style="backgroundStyle" ng-repeat="x in filteredItems = (projects | filter:getFilter())" show-on-click>
					
					<a class="project_button" ng-href="#/project/{{x.id}}">
						<span class="project-details-butn hidden" show-on-hover-parent>Project Details</span>
						<span class="project-name" hide-on-hover-parent>{{ x.name }}</span>
					</a>

				</div>

			</div>
			<div class="breaker"></div>
		</div>
		<div class="breaker"></div>
	</div>
	<!-- inject -->
</body>

</html>